@import url('vars.css');

body
{
    font-family: sans-serif;
}

img{
    width: 15rem;
    opacity: 100%;
    background: transparent;
    border: 1px solid rebeccapurple;
}

.navbar{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 40px;
    padding-bottom: 50px;
    z-index: 999;
    background-color: #0a2239;
}

.navbar>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.navbar>ul>li>a{
    padding: 20px;
    font-size: 1rem;
    color: #fff;
}

.center
{
    text-align: center;
}

.content
{
    margin-left: 1rem;
}

h1
{
    font-size: 4rem;
}