@import url('vars.css');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

header{
    top: 0;
    position: sticky;
}

main
{
    margin: 0 auto;
    max-width: var(--width);
    min-height: 100 vh;
}

body
{
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1rem;
    background: #fff;
}

img{
    width: 8.5rem;
    opacity: 100%;
    background: transparent;
    padding-left: .5rem;
}

.navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3.25rem;
    padding-bottom: 1.2rem;
    z-index: 999;
    position: sticky;
    background-color: var(--cl-primary-900);
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 3.25rem;
    z-index: 1;
    width: 100%;
}

.navbar__menu{
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
    flex: 1 1 1rem;
    gap: 1em;
    flex-wrap: wrap;
}

.navbar__item{
    margin-top: 0.45em;
    z-index: 999;
}

.navbar__links{
    padding: 0.75rem;
    font-size: 1rem;
    color: #eee;
    text-decoration: none;
    transition: all 500ms ease-out;
}

.navbar__links:hover:not(.logo)
{
    background-color: var(--cl-primary-100);
    box-shadow: 3px 3px 3px var(--cl-primary-700);
    color: var(--cl-primary-800);

    border-radius: 12px;
    transition: all 500ms ease-in;
}

.navbar .current-page
{
    border-bottom: 1px solid var(--cl-primary-100);
}

.navbar li:hover i
{
    transition: all 500ms ease-in;
    color: var(--cl-primary-900);
    margin: 0em;
}

@media screen and (max-width: 960px){
    .navbar__container{
        display: flex;
        justify-content: space-between;        
        height: 5rem;
        z-index: 1;
        width: 100%;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all .5s ease;
        z-index: -1;
        justify-content: center;
    }

    .navbar__menu.active{
        background: var(--cl-primary-900);
        top: 100%;
        opacity: 1;
        transition: all .5s ease;
        z-index: 99;
        height: 80vh;
        font-size: 1.6rem;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all .3s ease-in-out;
        background: var(--cl-primary-300);
    }

    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 1rem;
        width: 100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

.navbar__menu
{
    margin-right: 5em;
}

.center
{
    text-align: center;
}

.container {
	margin: 0 auto;
	padding: 0 1rem;
	max-width: 1280px;
}

/* form-fields */
/* zie demo bestanden bij de theorie voor meer CSS ;) */
input:not([type=submit]),
textarea {
	display: block;
	width: 100%;
	max-width: 40rem;
	padding: .75em;
	border: 1px solid #666;
	border-radius: .3rem;
}

label,
input[type=submit] {
	margin-top: 3rem;
}
input[type=submit] {
	padding: .5em 2em;
}

label {
	display: block;
	margin-bottom: .2em;
	font-weight: bold;
}

.message {
	font-size: 1.4rem;
}

h1
{
    font-size: 4rem;
    background: linear-gradient(to top, var(--cl-primary-600) 0%, var(--cl-primary-200) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

h2
{
    font-size: 2rem;
    background: linear-gradient(to top, var(--cl-primary-700) 0%, var(--cl-primary-100) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

footer{
    background-color: var(--cl-primary-600);
    justify-content: center;
    align-items: center;
    color: #eee;
}

input{
    display: block;
}

input[type=radio]{
    display: block;
}

.button
{
    display: block;
    border: 1px solid #919191;
    background-color: #d1d1d1;
    padding: 0.5em 1em;
    width: max-content;
    margin-top: 1em;
    text-decoration: none;
    color: #333;    
    transition: background-color 500ms ease;
}

.button:hover
{
    background-color: var(--cl-primary-100);
}

form button
{
    margin-bottom: 1.25em;
}

button
{
    padding: 1em;
    border-radius: 3px;
    border: 1px solid var(--cl-primary-800);
}

button:hover
{
    background-color: var(--cl-primary-100);
    border-radius: 3px;
}

.error
{
    color: #ff0000;
    display: block;
}

textarea
{
    display: block;
}

.form-item
{
    margin-bottom: 1.5em;
}

input:read-only, textarea:read-only
{
    background: var(--cl-primary-800);
    color: var(--cl-primary-100);
}
/* Zorgt voor ongewenste inspringingen van text -> alternatief zoeken
h1, p{
    margin: 1rem;
}
*/

label{
    font-size: 1.5em;
}

.selected-drop-item{
    color: #eee;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    line-height: 2;
    width: 145px;
    padding-left: 5px;
    padding-right: 10px;
}

.selected-drop-item:before{
    content: '';
    display: block;
    width: 32px;
    height: 32px;
}

.drop-menu{
    position: relative;
    text-align: left;
}

.drop-menu ul{
    margin: 0;
    padding: 0;
    background-color: var(--cl-primary-900);
    border: 1px solid var(--cl-primary-800);
    box-shadow: 0px 1px 10px var(--cl-primary-900);
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.drop-menu ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.drop-menu ul li a{
    color: #eee;
    text-decoration: none;
    width: 145px;
    display: block;
    padding: 5px 10px;
}

.drop-menu ul li a:before{
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    vertical-align: middle;
}

.drop-menu ul li a:hover{
    background-color: var(--cl-primary-700);
}

.drop-menu:hover ul{
    display: block;
}

.fr:before{
    background-image: url(../img/vlagfr.png);
}

.de:before{
    background-image: url(../img/vlagde.png);
}

.en:before{
    background-image: url(../img/vlagvk.png);
}

.ne:before{
    background-image: url(../img/vlagne.png);
}

.reservatie-cards
{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 20em;
    gap: 1em;
    justify-content: center;
    margin-bottom: 0.5em;
}

.reservatie-card
{
    background: var(--cl-primary-800);
    color: var(--cl-primary-100);
    border: 1px solid var(--cl-primary-200);
    border-radius: 10px;
    padding-right: 1em;
    overflow-x: scroll;
}

.reservatie-card p
{
    padding: 0.25em 2em;
}
.reservatie-card p i
{
    font-style: normal;
    font-weight: 800;
}

i{
    color: var(--cl-primary-100);
    padding: 0em;
    margin: 0em 0.5em 0em 0.5em;
}

.drop-menu i{
    padding-top: 0.50em;
}
