@import url('vars.css');

body
{
    font-family: sans-serif;
    font-size: 1rem;
}

img{
    width: 15rem;
    opacity: 100%;
    background: transparent;
    border: 1px solid rebeccapurple;
}

.navbar{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 2rem;
    padding-bottom: 1rem;
    z-index: 999;
    background-color: #0a2239;
}

.navbar>ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
    flex: 1 1 1rem;
    gap: 1em;
}

.navbar>ul>li>a{
    padding: 1rem;
    font-size: 1rem;
    color: #fff;
}

.center
{
    text-align: center;
}

.content
{
    margin-left: 1rem;
}

h1
{
    font-size: 4rem;
}

h2
{
    font-size: 2rem;
}