:root
{
    --width: 1250px;
    --width-about: 600px;


    --cl-primary-100: #cfeaf8;
    --cl-primary-200: #85b0c5;
    --cl-primary-300: #5099c0;
    --cl-primary-500: #176087;
    --cl-primary-600: #176087;
    --cl-primary-700: #176087;
    --cl-primary-800: #101d35;
    --cl-primary-900: #0a2239;
}
